.est_img_carousel {
    width: 100%;
    padding: 5% 7%;
    position: sticky;
}

.est_img_carousel img {
    height: 42em;
}

.est_definition_and_booking_form {
    width: 100%;
    padding: 0 7%;
    height: 50em;
    /*background-color: ghostwhite;*/
}

.est_definition_and_booking_form .est_definition {
    width: 56%;
    height: 100%;
    border: 2px solid rgba(232,182,133,0.88);
    background-color: rgba(232,182,133,0.69);
    float: left;
    padding: 2% 4%;
    overflow: auto;
}

.est_definition_and_booking_form .est_definition .section_rate_reviews {
    width: 100%;
    height: 10%;
    padding: 3.1% 4%;
}

.est_definition_and_booking_form .est_definition .section_rate_reviews .section_rate, .section_reviews {
    float: left;
    height: 50%;
    width: 48%;
}

.section_rate {
    margin-right: 1%;
}

.section_rate .star{
    width: 20px;
    height: 20px;
    margin-right: 3%;
    background-color: ghostwhite;
    float: left;
    border-radius: 50%;
}

.section_rate .star_rate {
    height: 20px;
    width: 30px;
    float: left;
    margin-left: 2%;
}

.star_rate p{
    margin: 0;
    height: 100%;
}


.section_reviews div a {
    color: #a81817;
}

.section_properties {
    width: 100%;
    height: 30%;
    padding: 3.1% 4%;
}

.section_properties .property_cuisine, .property_ave_check {
    width: 100%;
    height: 50%;
}

.property_cuisine .icon {
    width: 6em;
    height: 6em;
    float: left;
}

.property_cuisine .defs {
    float: left;
    width: calc(100% - 6em);
    height: 6em;
    padding: 0 5%;
}

.property_cuisine .defs .name, .val {
    text-align: left;
    padding-top: 2%;
}

.property_cuisine .defs .val {
    padding-top: 3%;
}

.property_ave_check .icon {
    width: 6em;
    height: 6em;
    float: left;
}

.property_ave_check .defs {
    float: left;
    width: calc(100% - 6em);
    height: 6em;
    padding: 0 5%;
}

.property_ave_check .defs .name, .val {
    text-align: left;
    padding-top: 2%;
}

.property_ave_check .defs .val {
    padding-top: 3%;
}

.icon img {
    width: 80%;
    height: 80%;
}


.section_features {
    width: 100%;
    height: max-content;
    padding: 3.1% 4%;
}

.section_features .each_feature {
    width: 100%;
    height: 6em;
    margin-top: 2%;
}


.section_features .feature_icon {
    width: 6em;
    height: 100%;
    float: left;
}

.section_features .feature_icon img {
    width: 80%;
    height: 80%;
}

.section_features .feature_name {
    float: left;
    width: calc(100% - 6em);
    height: 100%;
    padding: 6% 5%;
    text-align: left;
}


.section_contacts {
    width: 100%;
    height: 18%;
    padding: 3.1% 4%;
    text-align: left;
}

.section_contacts .address {
    width: 100%;
    height: 25%;
}

.section_contacts .phone_nums {
    width: 100%;
    height: 25%;
    margin-top: 5%;
}

.section_contacts .soc_nets {
    width: 100%;
    height: 50%;
    margin-top: 5%;
}

.soc_nets .instagram, .website {
    width: 3em;
    height: 3em;
    float: left;
    margin-right: 3%;
}
.soc_nets .instagram img {
    width: 80%;
}

.soc_nets .website img {
    width: 80%;
}






.est_definition_and_booking_form .booking_form {
    float: left;
    margin-left: 2%;
    width: 42%;
    height: 42%;
    border: 2px solid rgba(156,232,160,0.69);
    padding: 2%;
}


.est_definition_and_booking_form .reviews {
    float: left;
    margin-left: 2%;
    margin-top: 16px;
    width: 42%;
    height: 25%;
    border: 2px solid rgba(168,48,58,0.50);
    padding: 1.5% 0;
    overflow: auto;
}

.reviews .review {
    margin-top: 3%;
    border-top: 1px solid rgba(130,130,130,0.34);
    border-bottom: 1px solid rgba(130,130,130,0.34);
    padding-top: 1%;
    padding-bottom: 1%;
    height: 5em;
}

.review_passive {
    display: none;
}

.reviews .review .review_rating {
    width: 25%;
    float: left;
}
.reviews .review .review_author {
    width: 75%;
    float: left;
}

.reviews .review p {
    margin-bottom: 0;
}

.review_content {
    float: left;
    width: 100%;
    margin-top: 5%;
}


.more_reviews {
    width: 100%;
    margin-top: 2%;
    height: 33%;
    background-color: rgba(228,201,204,0.2);
    border: 0;
}

.more_reviews:hover {
    background-color: rgba(255,216,232,0.7);
    transition: 0.4s;
}

