/*
      Body
              */
html {
    height: 100%;
    min-height: min-content;
    max-height: max-content;
}
body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

body {
    background-color: #ffffff;
}

/*
     Navbar
              */

.menu{
    display: inline-block;
}

.navbar {
    position: fixed;
    z-index: 999;
    margin: 0;
    width: 100%;
    padding-top: 0.5%;
    height: 8.5%;
}

.navbar nav > a {
    color: #cbcbcb;
}

.navbar ul li a {
    color: #cbcbcb;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #ffffff;
}


#kk {
    display: inline;
    padding-right: 40px;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 400;
    outline: none
}


.navbar ul{
    display: inline-block !important;
    /*padding-left: 600px;*/
}


#logo{
    display: inline;
    color: rgba(220, 226, 188, 0.78);
    font-size: 34px;
    font-weight: 500;
    outline: none;
    font-family: New Century Schoolbook, serif;
    padding-left: 25px;
}





/*
      Main
               */

.headline {
    text-align: center;
    margin: 2% 32% 0 32%;
    background-color: rgba(255, 48, 46, 0.71);
}

.container {
    text-align: center;
    margin: 5% 4%;
    height: 100%;
    max-width: 92%;
}

.restaurants_container {
    height: 235em;
}



.restaurants_main {
    margin: 5% 0 0 5%;
    float: left;
    width: 50%;
}

.restaurants_main .card {
    margin-top: 3%;
    height: 42em;
    background-color: rgba(255,246,176,0.38);
    text-align: left;
}

.card {
    position: static;
}

.restaurants_main .card .card-body {
    padding-left: 3%;
    padding-right: 3%;
}

.restaurants_main .card .card-body p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.restaurants_main .card .card-body a {
    text-decoration: none;
}

.restaurants_main .card img {
    width: 100%;
    height: 27em;
}

.main {
    height: 100%;
}

#home{
    padding-top: 150px;
}

#algrthm{
    padding-top: 50px;
}

.pagination {
    z-index: 0;
}

h1 h4{
    font-family: "Poppins",sans-serif;
}

.welcome{
    padding-bottom: 10px;
    padding-left: 10px;
    color: #ffffff;
    background-color: rgba(255, 48, 46, 0.71);
}


.text_sm{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-family: Calibri;
}

.text1{
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 50px;
    background-color: rgba(204, 255, 24, 0.71);
    padding-left: 20px;
}

#show{
    background-color: rgba(248,255,35,0.71);
}

.banner-area{
    background:url(../test/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: 750px 10px;
    margin-top: 5%;
}



.filters {
    display: inline-block;
    float: left;
    margin-left: 7%;
    margin-top: 6.45%;
    width: 35%;
    height: 16%;
    position: sticky;
    position: -webkit-sticky;
    top: 15%;
}

.filters .card {
    height: 100%;
    width: 100%;
}

.filters .card form {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: justify-all;
}

.filters .card-body {
    padding: 0.5em 1.25em;
    overflow: auto;
}

.filters .card form  select {
    height: 8%;
    margin: 3%;
    width: 40%;
    outline: none;
}

.filters .card form label {
    margin: 3%;
    width: 80%;
    height: 8%;
    padding: 1.8% 3%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.filters .card form label:hover {
    cursor: pointer;
}

.filters_chb input{
    height: 100%;
    width: 100%;
    background-color: black;
}


.filters .card form  .btn {
    width: 30%;
    display: block;
    margin: 5% 35%;
}



/*.inner_main {*/
/*    margin: 2% 4%;*/
/*    background-color: black;*/

/*    padding: 2% 0;*/
/*}*/


/*
      Carousel
                 */

/*.carousel_part {*/
/*    margin: 0;*/
/*}*/


/*.section {*/
/*    !*box-shadow: -1px 2px 8px 5px rgba(110,110,110,0.85);*!*/
/*    box-shadow: -1px 3px 10px 5px rgba(21,21,21,0.78);*/
/*    margin: 0;*/
/*}*/

/*.carousel-inner {*/
/*    width: 100%;*/
/*    height: 42em;*/
/*}*/

/*.carousel-control-prev, .carousel-control-next {*/
/*    height: 42em;*/
/*    margin-top: 8.466%;*/
/*    opacity: 0;*/
/*}*/


/*
      Footer
                */

footer  {
    padding: 0;
    height: 18em;
    margin-top: 5%;
}

.footer_main {
    width: 100%;
    height: 100%;
    background-color: rgba(72,72,72,0.59);
    box-shadow: -1px 3px 10px 5px rgba(21,21,21,0.78);
}

.footer_main > div {
    height: 100%;
    width: 24.25%;
    float: left;
    margin-left: 1%;
    text-align: center;
    padding: 1% 4%;
}

.footer_main > .about {
    margin: 0;
}

.footer_main > .contact_us > a {
    text-decoration: none;
    color: black;
}

.footer_main > .contact_us > a:last-of-type {
    display: block;
    margin: 0 10%;
    padding: 2.5%;
    width: 80%;
    height: 15%;
    background-color: rgba(72,72,72,0.54);
    border: 2px solid rgba(49,49,49,0.77);
    color: #000;
    font-weight: 500;
}

.footer_main > .contact_us > a:last-of-type:hover {
    background-color: rgba(97,97,97,0.56);
    color: rgba(217,217,217,0.96);
    transition: 300ms;
}

.footer_main > .email_updates form {
    height: 30%;
}

.footer_main > .email_updates form label {
    height: 100%;
    border: 0;
}

.footer_main > .email_updates form label input{
    height: 50%;
    background-color: rgba(72,72,72,0.54);
    padding: 0 5%;
    outline: none;
    border: 2px solid rgba(49,49,49,0.77);
}

.footer_main > .email_updates form label input:focus{
    background-color: rgba(97,97,97,0.56);
    font-weight: 500;
    color: #1d1d1d;
}

.footer_main > .soc_nets img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}
